body{
    text-align:center;
}
.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    width: 50%;
}
.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
/*中身を非表示にしておく*/
#hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
    text-align: center;
}
.video-class {
    height: 100%; // 高さを画面いっぱいに指定する。(vhが効かない場合の対策)
    height: 100vh; // 高さを画面いっぱいに指定する。
    position: relative;  //横幅がウィンドウズサイズの縦幅よりもはみ出てしまう場合に、左にずらすために指定。
    width: 100%; // 横幅もいっぱいに。
}
/* #video {
    background: url('/video_bg.jpg') no-repeat; // 動画が再生を始めるまで、cssのほうでも背景を設定します。
    background-attachment: fixed; // 中央揃えになるように、fixed。
    background-position: center center; // positionも中央に。
    background-size: cover; // 画面サイズに応じてサイズを可変するように設定。
    left: 0;
    // 以下、画面いっぱいにするためのCSS設定
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
    // wrapperのサイズに応じて、leftの位置をjQueryで指定するため、positionはabsoluteにします。
    position: absolute;
    top: 0;
    // z-indexは調整してください。
    z-index: 1;
  } */
  #video {
    background: url('/video_bg.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    left: 0;
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
  }

.roulette {
  display: inline-block;
  border:1px solid #000000;
  font-size:40px;
  width:60px;
}

/* #video > ogvjs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
